<!DOCTYPE html>
<html>
    <head>
        <title>Anagram Test</title>
    </head>
    <body>
        <h1>Anagram Test</h1>
        <p>Enter two words and see if they are anagrams: </p>
        <form action='/view_if_anagram'>
            <div class='form-group'<
                <label for='word1'>First word: </label>
                <input id='word1' name='word1' class='form-control' type='text'>
            </div>
            <div class='form-group'<
                <label for='word2'>Second word: </label>
                <input id='word2' name='word2' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-primary'>Test</button>
        </form>

    </body>
</html>
