<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Anagram Test</title>
    </head>
    <body>
        {% if result %}
        <p>{{"This is an anagram"}}</p>
        {% else %}
        <p>{{"This is NOT an anagram"}}</p>
        {% endif %}


    </body>
</html>
